@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
    --blue: #4988FF;
    --pink: #FF47AE;
    --light-pink: #F0EEF6;

    --primary-color: var(--blue);
    --background-color: var(--light-pink);
    --accent-color: var(--pink);
}
body {
    /* background-color: var(--background-color); */
    font-family: 'Orbitron', sans-serif;
    color: var(--accent-color);
    cursor: url('./icons8-cursor-48.png'), none;
    }

.my-btn {
    background-color: var(--background-color);
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    padding: 10px 20px 10px 20px;
    /* cursor: auto; */
    color: var(--accent-color);
    }
.my-btn:disabled {
    background-color: var(--background-color);
    border-radius: 5px;
}
.my-btn:hover {
    color: black;
    background-color: var(--accent-color);
    }

.hidden {
    opacity: 0%;
    transform: translateY(-100%);
    transition: all .2s ease-in-out ;
}

.show {
    opacity: 1;
    transform: translateY(0%);
}


h1 {
    color: var(--primary-color);
    /* color: white; */
    font-size: 80px;
    text-shadow: 2px 2px 4px var(--accent-color);
    }

h3 {
    color: var(--accent-color);
    /* color: white; */
    font-size: 24px;
    text-shadow: 1px 1px 4px var(--accent-color);
    }
    
    h4 {
        color: white;
        color: var(--accent-color);
        font-size: 18px;
        text-shadow: 1px 1px 6px var(--accent-color);
}
p {
    color: var(--accent-color);
    margin-bottom: 0;
    }
    
    a {
        color: var(--accent-color);
}
/* #CLASSIC-PONG {
            /* color: var(--accent-color); */
/* text-shadow: 2px 2px 4px var(--accent-color);
        transition: text-shadow 3s ease;
        } */

.svg-container #classic-pong-bg {
    /* text-shadow: 2px 2px 0px var(--accent-color); */
    fill: blue;
    fill: var(--accent-color);
    color: white;
    transition: text-shadow 0.3s ease;

}

.svg-container:hover #CLASSIC-PONG {
    /* color: var(--accent-color); */
    text-shadow: 2px 2px 4px var(--primary-color);
    transition: text-shadow 3s ease;


}

.svg-container:hover {
    box-shadow: 5px 5px 4px;
}

.svg-container:hover #classic-pong-bg {
    fill: var(--accent-color);
    fill: rgba(0, 0, 255, 0.3);
    box-shadow: 10px 10px;
}

.child1 {
    transition-delay: 0ms;
}

.child2 {
    transition-delay: 200ms;
}

.child3 {
    transition-delay: 400ms;
}

.child4 {
    transition-delay: 600ms;
}

#pong-background {
    z-index: -1;
    position:fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
  }

  #three-canvas {
    /* z-index: 2; */
    height: 100px;
    width: 100px;
  }

  .toast-container, .toast-header {
    color: red;
  }